@charset "utf-8";

@import "normalize";
@import "template";

$base_background_color:#344058;
$hover_background_color:#2f3a50;
$base_color:#fff;
$base_height:50px;

a{
  text-decoration: none;
}
.aequilate {
  font-family: Consolas,Monaco;
}
// 隐藏滚动条
::-webkit-scrollbar {display:none}
html { -ms-overflow-style:none; overflow:-moz-scrollbars-none; }
body {
	height: 100%;
	width: calc(100vw); /*浏览器滚动条的长度大约是 18px*/
	overflow: auto;
}

.el-card.main-card{
  min-height: 500px;
}
// 表单样式
.el-checkbox{
  margin-right: 30px;
  line-height: unset;
}
.el-checkbox+.el-checkbox {
  margin-left: 0;
}
.el-radio{
  margin-right: 30px;
}
.el-radio+.el-radio {
  margin-left: 0;
}
.el-upload-list {
  max-width: 400px;
}

.step-card{
  margin-top: 12px;
  margin-bottom: 12px;
  .el-card__body{
    padding: 10px;
  }
}
.el-table .cell{
  line-height: 14px;
}
.el-table thead tr th{
  line-height: 20px;
  background-color: #f4f4f5;
}
.el-table{
  .el-tag{
    margin-right: 5px;
  }
  .el-button{
    margin-left: 3px;
    padding: 5px;
  }
  .el-input.is-disabled .el-input__inner{
    color:#606266;
  }
}
.el-alert{
  line-height: 20px;
  padding: 8px 0;
}

.main-breadcrumb{
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  background-color: #fff;
}

.el-container .el-main{
  padding:0;
  .main-content{
    padding: 0 15px 15px;
  }
}


// 系统管理页面
.el-table{
  .el-form-item{
      margin-bottom: 0;
      &.el-form-item--mini{
        margin-bottom: 0;
      }
  }
  .el-form-item__error{
    position: inherit;
  }
}

.add-form{
  background-color: #e6e5e5;
  padding: 12px 0 0 12px;
}

.el-popper .el-radio-button__inner{
  border-left: 1px solid #dcdfe6;
}
